<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body > .comment_item{
            margin-top: 20px;
            background-color: #b9def0;
        }
         body > .comment_item > .comment-body{
            margin-left: 20px;
        }

        body > .comment_item > .comment-body > .comment_item > .comment-body{
            margin-left: 40px;
        }

    </style>

</head>
<body>

        <div class="comment_item">
            <div class="comment-header">2asdasd</div>
            <div class="comment-body">
                   <div class="comment_item">
                       <div class="comment-header">2你好</div>
                           <div class="comment-body">

                                <div class="comment_item">
                                   <div class="comment-header">2阿萨德</div>
                                   <div class="comment-body"></div>
                                 </div>

                           </div>
                   </div>

                   <div class="comment_item">
                       <div class="comment-header">2啊实打实</div>
                       <div class="comment-body"></div>
                   </div>

               </div>

        </div>

           <div class="comment_item">
               <div class="comment-header">2啊实打实</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2asdasd</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2你好</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2阿萨德</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2啊实打实</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2真的假的</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2写的很好</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2asdasd</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2你好</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2阿萨德</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2啊实打实</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2啊实打实</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2asdasd</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2你好</div>
               <div class="comment-body">
           <div class="comment_item">
               <div class="comment-header">2阿萨德</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2啊实打实</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2真的假的</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">3确实如此</div>
               <div class="comment-body"></div>
           </div>
       </div>
           </div>

           <div class="comment_item">
               <div class="comment-header">3顶一个</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2不错</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">3的深V就能看见谁像你</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">1asdasd</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2a阿萨德</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2阿萨德sadas</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2阿萨德sadas</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2阿斯达四大</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">2阿斯达四大啊实打实大声道按时的</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">1撒大声地阿萨德阿萨德阿萨德按时打算打手电阿萨德按时的按时打算的阿萨德按时打算的阿萨德按时的</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">1阿斯达四大</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">1秋风的夙愿</div>
               <div class="comment-body"></div>
           </div>

           <div class="comment_item">
               <div class="comment-header">1小三</div>
               <div class="comment-body"></div>
           </div>


</body>
</html>